root = true

[*]
end_of_line = crlf
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.xml]
indent_style = tab

[*.xaml]
indent_style = tab

[{*.cs, *.ts}]
indent_style = tab

[*.json]
indent_style = tab

[*.*proj]
indent_style = tab
tab_width = 2
indent_size = 2

[*.js]
indent_style = space

[*.yml]
indent_style = space

[*.md]
indent_style = space
