@using System.Reflection
@using Microsoft.DotNet.PlatformAbstractions
@{
    var version = typeof(Program)
        .GetTypeInfo()
        .Assembly
        .GetCustomAttribute<AssemblyFileVersionAttribute>()
        ?.Version
            ?? "0.0-dev";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]Uno</title>

    <link rel="icon" type="image/png" href="~/images/favicon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/images/favicon24.png" sizes="24x24">
    <link rel="icon" type="image/png" href="~/images/favicon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="~/images/favicon256.png" sizes="256x256">
</head>
<body>
	@RenderBody()

	@RenderSection("Scripts", required: false)
</body>
</html>
